Flask
huggingface-hub==0.19.0
numpy==1.25.1
opencv-python-headless==4.8.1.78
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
torch==2.1.0
